services:
  app:
    build:
      context: .
      dockerfile: dev.Dockerfile
    container_name: todo-front-dev
    ports:
      - "5173:5173"
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - VITE_BACKEND_URL=http://localhost:5000/
    command: sh -lc "npm ci && npm run dev -- --host"
